* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

/* pagina de inicio */

/* header - logo--menu */
.menu__container {
    padding: 1rem 0;
    display: flex;
    justify-content: space-around;
}
.menu {
    background-color:rgb(73, 64, 64);
    display: flex;
    justify-content: space-around;
}
.menu__list {
    list-style-type: none;
    margin: 0 0.5rem;
    padding: 0 1rem;
    display: flex;
    align-items: center;
}
.menu__btn {
    background-color: rgb(243, 233, 233);
    color: rgb(116, 5, 5);
    border: 0.2rem solid rgb(116, 5, 5);
    font-size: 2rem;
    padding: 0 0.4rem;
}
.img__container a {
    display: flex;
    justify-content: center;
}
.img__logo {
    width: 8rem;
    border: solid 3px rgb(116, 5, 5);
}
.img__treno {
    width: 10%;
}
/* modificaciones en el main */

.main__inicio {
    background-image: url("multimedia/imagenes/fondomain2.jpeg");
    background-size: cover;
    width: 100%;
}
.central__element {
    display: flex;
    justify-content: flex-end;
}

.element__audio {
    position: relative;
    bottom: 15rem;
}
.articulo__titulo {
    font-size: 3em;
    color: rgb(190, 29, 169);
    width: 20%;
    margin: 3rem 0 5rem 0;
}
.articulo__paragraph {
    width: 20%;
    font-size: 1.5rem;
    color: rgb(190, 29, 169);
    margin: 3rem 0;
}
.element__whatsapp {
    color: black;
    background-color: rgb(10, 197, 10);;
    font-size: 2em;
    position: fixed;
    right: 1.5rem;

}
/* footer */
footer {
    background-color: rgb(73, 64, 64);
}
.pie__text {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sub__pie {
    color: rgb(51, 9, 9);
    font-size: 2.5em;
    padding: 0.5rem 0;
}
.public__pie {
    padding: 0.5rem 0;
}
.desc__pie {
    padding: 0.5rem 0;
}
.three__container {
    display: flex;
    justify-content: center;
}
.info__pie {
    text-align: center;
    font-size: 1rem;
}
/* Fin de pagina inicio*/

/* pagina de entrenamiento */
.main__entrenamiento {
    background-image: url("multimedia/imagenes/fondoentrenamiento.jpeg");
    background-size: cover;
}
.titulo__entrenamiento {
    font-size: 5rem;
    color: rgb(116, 5, 5);
    text-align: center;
}
.item-uno { grid-area: titulo1; }
.item-dos { grid-area: frame1; }
.item-tres { grid-area: text1; }
.item-cuatro { grid-area: titulo2; }
.item-cinco { grid-area: frame2; }
.item-seis { grid-area: text2; }

.grid-container {
    display: grid;
    gap: 10px;
    padding: 10px;
}
.grid-container {
    grid-template-areas:
    'titulo1 titulo1 titulo1 titulo1 titulo1 titulo1'
    'frame1 frame1 text1 text1 text1 text1'
    'titulo2 titulo2 titulo2 titulo2 titulo2 titulo2'
    'frame2 frame2 text2 text2 text2 text2';
}
@media only screen and (max-width: 800px) {
    .grid-container {
        justify-items: center;
        grid-template-areas:
        'titulo1'
        'frame1'
        'text1'
        'titulo2'
        'frame2'
        'text2';
    }
    .titulo__entrenamiento {
        font-size: 4rem;
    }
}
.subtitulo__sentadillas {
    font-size: 3rem;
    color: rgb(255, 251, 0);
    text-align: center;
}
.descp__sentadillas {
    font-size: 1.5rem;
    color: rgb(248, 203, 0);
}
.subtitulo__press {
    text-align: center;
    font-size: 3rem;
    color: rgb(255, 251, 0);
}
.descp__press {
    font-size: 1.5rem;
    color: rgb(248, 203, 0);
}
/* Fin pagina de entrenamiento*/

/* Pagina de metodologia */
.header__metodo {
    background-color: rgb(73, 64, 64);
}
.main__metodo {
    background-image: url("multimedia/imagenes/logotres.jpeg");
    background-size: cover;
}
.titulo__metodo {
    font-size: 5rem;
    color: rgb(116, 5, 5);
    text-align: center;
}
.caja-uno {grid-area: taek;}
.caja_dos {grid-area: capoe;}
.caja-tres {grid-area: kick;}
.caja-cuatro {grid-area: karate;}

.grid-container-metodo {
    display: grid;
    gap: 0.5rem;
    padding: 0.5rem;
}
.grid-container-metodo {
    grid-template-areas:
    'taek capoe'
    'kick karate';
}
@media only screen and (max-width: 800px) {
    .grid-container-metodo {
        grid-template-areas:
        'taek'
        'capoe'
        'kick'
        'karate';
    }
    .titulo__metodo {
        font-size: 4rem;
    }
}
.subtitulo__taek {
    font-size: 3rem;
    color: rgb(199, 82, 4);
    text-align: center;
}
.descp__taek {
    font-size: 1.5rem;
    color: rgb(248, 203, 0);
}
.subtitulo__capoe {
    font-size: 3rem;
    color: rgb(199, 82, 4);
    text-align: center;
}
.descp__capoe {
    font-size: 1.5rem;
    color: rgb(248, 203, 0);
}
.subtitulo__kick {
    font-size: 3rem;
    color: rgb(199, 82, 4);
    text-align: center;
}
.descp__kick {
    font-size: 1.5rem;
    color: rgb(248, 203, 0);
}
.subtitulo__karate {
    font-size: 3rem;
    color: rgb(199, 82, 4);
    text-align: center;
}
.descp__karate {
    font-size: 1.5rem;
    color: rgb(248, 203, 0);
}
/* Fin pagina de metodologia */

/* pagina de contactos */
.header__contact {
    background-color: rgb(73, 64, 64);
    font-size: 6rem;
    color: rgb(116, 5, 5);
    text-align: center;
}
.main__contact {
    background-image: url("multimedia/imagenes/fondoContact.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(73, 64, 64);
}
.box-uno {grid-area: titulo1;}
.box-dos {grid-area: video1;}
.box-tres {grid-area: texto1;}
.box-cuatro {grid-area: titulo2;}
.box-cinco {grid-area: video2;}
.box-seis {grid-area: texto2;}

.contact__container {
    display: grid;
    gap: 0.5rem;
    padding: 0.5rem;
}
.contact__container {
    grid-template-areas: 
    'titulo1 titulo1 titulo1'
    'video1 texto1 texto1'
    'titulo2 titulo2 titulo2'
    'video2 texto2 texto2'
}
.subtitulo__lugar {
    font-size: 3rem;
    color: rgb(199, 82, 4);
    text-align: center;
}
.descp__lugar {
    font-size: 1.5rem;
    color: rgb(199, 82, 4);
}
.subtitulo__compe {
    font-size: 3rem;
    color: rgb(199, 82, 4);
    text-align: center;
}
.descp__compe {
    font-size: 1.5rem;
    color: rgb(199, 82, 4);
}
/* Fin pagina de contactos */

/* pagina de ubicacion */
.header__ubicacion {
    background-color: rgb(73, 64, 64);
    color: rgb(116, 5, 5);
    text-align: center;
}
.titulo__ubicacion {
    font-size: 5rem;
}
.main__ubicacion {
    background-color: rgb(53, 39, 39)
}
.container__acceso {
    display: flex;
    align-items: center;
}
.subtitulo__trans {
    font-size: 3rem;
    color: rgb(199, 43, 4);
    text-align: center;
    padding: 0.5rem;
}
.descp__trans {
    font-size: 1.5rem;
    color: rgb(219, 167, 132);
    padding: 0.5rem;
}
.descp__tren {
    font-size: 1.5rem;
    color: rgb(219, 167, 132);
    padding: 0.5rem;
}
.container__gps {
    display: flex;
}
.subtitulo__gps {
    font-size: 3rem;
    color: rgb(199, 43, 4);
    text-align: center;
}
.descp__gps {
    font-size: 1.5rem;
    color: rgb(219, 167, 132);
}
/* Fin pagina de ubicacion */

/* Pagina de Productos */
.header-prod {
    background-color: rgb(243, 178, 0);
}
.animasion {
    display: flex;
    justify-content: space-around;
    color: black;
    font-size: 0;
    line-height: 1.5;
}
.efecto-title {
    font-size: 3rem;
    display: inline-block;

    animation: anime 4.5s linear infinite;
}

@keyframes anime {
0% {
    transform: translate(-30%, 0);
}
50% {
    text-shadow: 0 25px 50px rgb(255, 0, 0);
}
100% {
    transform: translate(30%, 0);
}
}

.animasion span:nth-child(2) {
    animation-delay: 0.5s;
}
.animasion span:nth-child(3) {
    animation-delay: 1s;
}
.animasion span:nth-child(4) {
    animation-delay: 1.5s;
}
.animasion span:nth-child(5) {
    animation-delay: 2s;
}
.animasion span:nth-child(6) {
    animation-delay: 2.5s;
}
.animasion span:nth-child(7) {
    animation-delay: 3s;
}
.animasion span:nth-child(8) {
    animation-delay: 3.5s;
}
.animasion span:nth-child(9) {
    animation-delay: 4s;
}

.box-prod {
    background-color: rgb(73, 26, 26);
    text-align: center;
    height: auto;
}
.img__prod {
    width: 20%;
}
.prod-subtitle {
    font-size: 2.5rem;
    color: rgb(243, 187, 187);
    transition: all 0.5s linear;
}
.box-prod p {
    margin: 0.5rem;
    font-size: 1rem;
    color: rgb(243, 187, 187);
    transition: all 1s linear;
}

.box__uno {grid-area: prote;}
.box__dos {grid-area: crea;}
.box__tres {grid-area: amino;}
.box__cuatro {grid-area: multi;}
.box__cinco {grid-area: ultra;}
.box__seis {grid-area: barras;}

.container__productos {
    display: grid;
    gap: 0.5rem;
    padding: 0.5rem;
}
.container__productos {
    grid-template-areas:
    'prote'
    'crea'
    'amino'
    'multi'
    'ultra'
    'barras';
}
@media screen and (min-width: 768px){
    .container__productos {
        grid-template-areas: 
        'prote crea'
        'amino multi'
        'ultra barras';
    }
    .img__prod {
        width: 20%;
    }
    .efecto-title {
        font-size: 3.5rem;
    }
    .prod-subtitle {
        font-size: 2.5rem;
        color: rgb(246, 250, 26);
    }
    .box-prod p {
        font-size: 1.5rem;
        background-color: rgb(223, 188, 76);
        color: black;
    }
}
@media screen and (min-width: 1200px){
    .container__productos {
        grid-template-areas:
        'prote crea amino'
        'multi ultra barras';
    }
    .box-prod p, .prod-subtitle {
        margin: 1rem;
    }
    .img__prod {
        width: 15%;
    }
    .efecto-title {
        font-size: 5rem;
    }
    .prod-subtitle {
        font-size: 3rem;
        color: rgb(240, 93, 25);
    }
    .box-prod p {
        font-size: 1.7rem;
        background-color: rgb(226, 124, 77);
        color: black;
    }
    .efecto-title {
        font-size: 4rem;
    }
    .prod-subtitle:hover {
    font-size: 3.5rem;
    color: rgb(255, 255, 255);
    }
    .box-prod p:hover {
        font-size: 1.8rem;
        color: rgb(255, 255, 255);
    }
    .box__seis:hover .efecto-uno {
        transform: translateX(10rem);
    }
    .box__seis:hover .efecto-dos {
        transform: translateX(-10rem);
    }
}

